<select-component label="$ctrl.furnitureTypesLabel" options="$ctrl.furnitureTypesOptions" ng-model="$ctrl.typeFurniture"></select-component>

<input-component label="$ctrl.yearLabel" type="text" ng-model="$ctrl.yearPurchase"></input-component>

<select-component label="$ctrl.monthsLabel" options="$ctrl.monthsArray" ng-model="$ctrl.monthPurchase"></select-component>

<input-component label="$ctrl.intervalLabel" type="text" ng-model="$ctrl.interval"></input-component>

<select-component label="$ctrl.coinsLabel" options="$ctrl.coinsArray" ng-model="$ctrl.coin"></select-component>