<div class="panel panel-default">
	<div class="panel-heading">
		<div ng-repeat="formName in $ctrl.formNames" class="tab-button">
			<button type="button" class="btn btn-primary" ng-show="$ctrl.arrayTabs[$index]" 
				ng-click="$ctrl.changeTab($index)">{{formName}}</button>
			<button type="button" class="btn" ng-hide="$ctrl.arrayTabs[$index]"
				ng-click="$ctrl.changeTab($index)">{{formName}}</button>
		</div>
	</div>
	<div class="panel-content">
		<div ng-show="$ctrl.arrayTabs[0]">
			<first-form></first-form>
		</div>
		<div ng-show="$ctrl.arrayTabs[1]">
			<second-form></second-form>
		</div>
	</div>
</div>

<button type="button" class="btn" ng-hide="$ctrl.arrayTabs[0]" ng-click="$ctrl.previousTab()">
	Previous
</button>
<button type="button" class="btn to-the-right" ng-hide="$ctrl.arrayTabs[$ctrl.arrayTabs.length - 1]" ng-click="$ctrl.nextTab()">
	Next
</button>